@import "grid/bootstrap";
@import "grid/bootstrap-theme";

header {
  background: linear-gradient(to right, #000, rgba(0, 0, 0, .3));
  position: absolute;
  z-index: 10;
  top:0;
  left: 0;
  width: 100%;
  .header__title--text {
    font-family: 'Gadugi';
    color:#bacf42;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
  }
  .header__logo {
    padding: 18px 15px;
    display: flex;
    align-items:center;
    justify-content:center;
    .header__logo--first {
      max-width: 80px;
      width: 100%;
      max-height: 20px;
      margin-right: 45px;
    }
    .header__phone {
      font-family: 'Roboto Condensed';
      font-weight: normal;
      color:#fff;
      font-size: 24px;
      padding: 0 45px 0 20px;
      border-right:1px solid #bacf42;
      border-left:1px solid #bacf42;
      letter-spacing: 1px;
      display: block;
      background-image: url(../img/phone-white.png);
      background-repeat: no-repeat;
      background-position: 90% center;
      background-size: 23px;
      &:hover {
        color:#fff;
        text-decoration: none;
        background-image: url(../img/phone-black.png);
      }
      &:focus {
        text-decoration: none;
      }
    }
    .header__logo--second {
      max-width: 90px;
      width: 100%;
      max-height: 25px;
      margin-left: 15px;
    }
  }
}

.main__block {
  height: 100vh;
  background: #000 url(../img/first-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  &:before {
    display: block;
    content:'';
    background: radial-gradient(circle at 60% 50%,transparent 30%,rgba(0,0,0,.3) 40%);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index:0;
  }
  .main__form--wrap {
    height: auto;
    max-width: 455px;
    width: 100%;
    position: absolute;
    left: 18%;
    top: 25%;
    background-color: rgba(0, 0, 0, .6);
    color:#fff;
    padding: 40px 60px 25px;
    direction:rtl;
    font-family: 'Rubik', sans-serif;
    .form__title-wrap {
      margin-bottom: 30px;
      p {
        margin: 0;
        font-size: 24px;
        line-height: 1;
        font-weight: 300;
      }
      .title__first {
        font-weight: 400;
        margin-bottom: 5px;
      }
    }
    form {
      direction: rtl;
      input[type='text'] {
        background-color: #e1e1e0;
        border-radius:2px;
        padding:15px;
        line-height: 1;
        color:#606060;
        font-size: 16px;
        font-weight: 300;
        max-width: 330px;
        width: 100%;
        margin-bottom: 13px;
        border:1px solid #706e6d;
        &:focus {
          outline:none;
        }
      }
      input[type='submit'] {
        background-color: #bacf42;
        border:0;
        border-radius:2px;
        padding:15px;
        line-height: 1;
        color:#fff;
        font-size: 19px;
        font-weight: 400;
        max-width: 330px;
        width: 100%;
        margin-bottom: 25px;
      }
      .form__checkbox--wrap {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        .checkbox__text {
          font-family: 'Assistant';
          font-weight: 300;
          color:#b7b6b6;
          display: inline-block;
          margin: 0;
        }
        #checkbox__field--wrap {
          display: block;
          line-height: 1;
          label {
            width: 15px;
            height: 15px;
            border: 1px solid #b7b6b6;
            display: inline-block;
            color: #bacf42;
            border-radius: 2px;
            cursor: pointer;
            text-indent: 10000px;
            input[type='checkbox'] {
              display: none;
            }
          }
          .active_label {
            background-image: url(../img/ckeckbox-check.png);
            background-size: contain;
          }
        }
      }
    }
    .main__location--wrap {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      padding-right: 25px;
      line-height: 1;
      display: block;
      position: relative;
      background-image: url(../img/map-marker.png);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      color:#c7c7c7;
      padding: 9px 25px 0 0;
    }
  }
  .main__block--bottom {
    position: absolute;
    width: 100%;
    bottom:0;
    left: 0;
    background-color: #d1d1d1;
    color:#333;
    padding: 35px 0;
    .bottom__block--left {
      display: flex;
      justify-content:center;
      .block__left {
        padding:20px;
        display: flex;
        align-items: center;
        border-left: 1px solid #868686;
        border-right: 1px solid #868686;
        .grey__square {
          width: 50px;
          height: 50px;
          border-radius:2px;
          background-color: #868686;
          margin-right: 15px;
        }
        .text__wrap {
          font-family: 'Assistant', sans-serif;
          h4 {
            font-weight: bold;
            font-size: 31px;
            margin: 0;
            line-height: .8;
          }
          p {
            font-weight: normal;
            font-size: 23px;
            margin: 0;
            line-height: .8;
          }
        }
        &:last-child {
          border-left: 0;
        }
      }
    }
    .bottom__block--right {
      direction: rtl;
      .right__text--wrap {
        padding-right: 13px;
        font-family: 'Rubik', sans-serif;
        border-right: 11px solid #bacf42;
        h4 {
          margin-top: 0;
          margin-bottom: 15px;
          font-weight: bold;
          font-size: 24px;
          line-height: 1;
        }
        p {
          font-size: 22px;
          font-weight: 300;
          line-height: 1;
          margin: 0;
        }
      }
    }
  }
}

footer {
  display: none;
}

//MEDIA QUERY
@media screen and (max-height: 850px) {
  .main__block {
    .main__form--wrap {
      padding: 20px 60px;
      top: 12%;
      .form__title-wrap {
        margin-bottom: 15px;
      }
      form {
        input[type='text'] {
          margin-bottom: 13px;
        }
        input[type='submit'] {
          margin-bottom: 25px;
        }
        .form__checkbox--wrap {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media screen and (max-height: 670px) {
  .main__block {
    .main__form--wrap {
      padding: 10px 60px;
      top: 12%;
      .form__title-wrap {
        margin-bottom: 10px;
      }
      form {
        input[type='text'] {
          margin-bottom: 10px;
        }
        input[type='submit'] {
          margin-bottom: 10px;
        }
        .form__checkbox--wrap {
          margin-bottom: 10px;
        }
      }
    }
  }
}


@import "fonts/font_gadugi";
@import "fonts/font_roboto";
@import url('https://fonts.googleapis.com/css?family=Assistant:300,400');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');
