$rb-font-path: '../fonts' !default;

@font-face {
  font-family: 'Gadugi';
  font-weight: 300;
  font-style: normal;

  src: url('#{$rb-font-path}/gadugi-normal.eot');
  src: local('Gadugi Regular'),
  local('gadugi-regular'),
  url('#{$rb-font-path}/gadugi-normal.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/gadugi-normal.woff') format('woff');
}